// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/*  bhoechie tab */
div.bhoechie-tab-container{
  z-index: 10;
  background-color: #ffffff;
  padding: 0 !important;
  border-radius: 4px;
  -moz-border-radius: 4px;
  border:1px solid #ddd;
  margin-top: 20px;
  margin-left: 50px;
  -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  box-shadow: 0 6px 12px rgba(0,0,0,.175);
  -moz-box-shadow: 0 6px 12px rgba(0,0,0,.175);
  background-clip: padding-box;
  opacity: 0.97;
  filter: alpha(opacity=97);
}
div.bhoechie-tab-menu{
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 0;
}
div.bhoechie-tab-menu div.list-group{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>form{
  margin-bottom: 0;
}
div.bhoechie-tab-menu div.list-group>form .glyphicon,
div.bhoechie-tab-menu div.list-group>form .fa {
  color: #f55261;
}
div.bhoechie-tab-menu div.list-group>form:first-child{
  border-top-left-radius: 0;
  -moz-border-top-left-radius: 0;
}
div.bhoechie-tab-menu div.list-group>form:last-child{
  border-bottom-left-radius: 0;
  -moz-border-bottom-left-radius: 0;
}
div.bhoechie-tab-menu div.list-group>form.active,
div.bhoechie-tab-menu div.list-group>form.active .glyphicon,
div.bhoechie-tab-menu div.list-group>form.active .fa{
  background-color: #f55261;
  background-image: #f55261;
  color: #ffffff;
}
div.bhoechie-tab-menu div.list-group>form.active:after{
  content: '';
  position: absolute;
  right: 100%;
  top: 50%;
  margin-top: -13px;
  border-right: 0;
  border-bottom: 13px solid transparent;
  border-top: 13px solid transparent;
  border-right: 10px solid #f55261;
}

div.bhoechie-tab-content{
  background-color: #ffffff;
  /* border: 1px solid #eeeeee; */
  padding-right: 20px;
  padding-top: 10px;
}

div.bhoechie-tab div.bhoechie-tab-content:not(.active){
  display: none;
}
.invited {
  background-color: #f55261;
}
.list-group-item.active {
  background-color: #f55261;
  background-image: #f55261;
}
