<div class="container-fluid">
  <nav class="navbar navbar-default">
    <div class="nav navbar-nav">
      <p class="navbar-left">whenwemeet</p>
      <button type="button" class="btn btn-default navbar-btn navbar-right">Signin</button>
      <% if user_signed_in? %>
        <%= link_to "Sign out", destroy_user_session_path, method: "delete" %>
      <% else %>
        <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %>
      <% end %>
    </div>
  </nav>

  <div class="row">
    <div class="bhoechie-tab-container">
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-9 bhoechie-tab">
        <div class="bhoechie-tab-content active">
          <center>
            <div id="calendar"></div>
          </center>
        </div>
        <div class="bhoechie-tab-content">
          <center>
            <h1 class="glyphicon glyphicon-road" style="font-size:14em;color:#55518a"></h1>
            <h2 style="margin-top: 0;color:#55518a">Coming Soon</h2>
          </center>
        </div>
        <div class="bhoechie-tab-content">
          <center>
            <h1 class="glyphicon glyphicon-home" style="font-size:12em;color:#55518a"></h1>
            <h2 style="margin-top: 0;color:#55518a">Cooming Soon</h2>
            <h3 style="margin-top: 0;color:#55518a">Hotel Directory</h3>
          </center>
        </div>
        <div class="bhoechie-tab-content">
          <center>
            <h1 class="glyphicon glyphicon-cutlery" style="font-size:12em;color:#55518a"></h1>
            <h2 style="margin-top: 0;color:#55518a">Cooming Soon</h2>
            <h3 style="margin-top: 0;color:#55518a">Restaurant Diirectory</h3>
          </center>
        </div>

      </div>

      <div class="col-lg-3 col-md-3 col-sm-3 col-xs-3 bhoechie-tab-menu">

        <div class="list-group">
<!--
          <a href="#" class="list-group-item active text-center">
            <h4 class="glyphicon glyphicon-plane"></h4><br/>Flight
          </a>
          <a href="#" class="list-group-item text-center">
            <h4 class="glyphicon glyphicon-road"></h4><br/>Train
          </a>
          <a href="#" class="list-group-item text-center">
            <h4 class="glyphicon glyphicon-home"></h4><br/>Hotel
          </a>
          <a href="#" class="list-group-item text-center">
            <h4 class="glyphicon glyphicon-cutlery"></h4><br/>Restaurant
          </a>
-->
	<% @groups.each do |g|%>
		<a href="#" class="list-group-item text-center">
		<h4 class="glyphicon"></h4><%= g.name%>
		</a>
	<% end %>

        </div>
	<div>
	  <!--
	  <a href ="home/popup">
	    <center><button class ="btn btn-default" type="submit">+</button></center>
	  </a>
	-->
	  <a href="home/popup" onclick="window.open(this.href, "group","width=370, height=360, resizable=yes, scrollbars=yes");return false;" target="_blank">
	    <center><button class ="btn btn-default" type="submit">+</button></center>
	  </a>

	</div>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function() {
    $('#calendar').fullCalendar({
      defaultView: 'agendaWeek',
      allDaySlot: false,
      slotDuration: '01:00:00',
      slotLabelFormat: 'H:mm',
      minTime: '07:00:00',
      columnFormat: 'ddd',
      editable: true,
      contentHeight: 'auto',
      header: false,
      dayClick: function(date, jsEvent, view) {
        alert('Clicked on: ' + date.format());
        events = [
          {
            title: 'test_event',
            start: date.format()
          }
        ];
        $('#calendar').fullCalendar('addEventSource', events);
      }
    });
  });
</script>
