<script type="text/javascript">
  function mySubmit() {

    var e=document.getElementsByName("email")[0].value;

    var userlist=[];
    var current_userlist=[];

    <% @users.each do |u|%>
        userlist.push('<%=u.email%>');
    <% end %>

    <% @current_user.each do |u|%>
        current_userlist.push('<%=u.email%>');
    <% end %>

    if( userlist.indexOf(e)==-1 ){
        alert('there is no user who you want!');

    } else if(current_userlist[0]==e){
	alert('that is you!')
    } else{
	var temp = []
	var $test = $('#list').find('.test')
		for(var i=0; i<$test.length; i++){
		    temp.push($test[i].value);
		}
		if(temp.indexOf(e)!=-1){
		    alert('that user is already in invitation list!');

		} else{
		    $('#list').append('<li>'+'<input type="textbox" class="test" name="invitation[]" value ='+e+' readonly >'+'</li>');
	}
    }
  }
</script>

<div class="container" style="margin-top:50px">
<form action="/home/groupadd" method="post">
	<div class ="form-group">
		<label for="groupname">Group Name</label>
		<input type="text" class="form-control" name="groupname">
	</div>
	<div class ="form-group">
		<label for="email">Mail</label>
		<input type="text" class="form-control" name="email">
		<input type="button" value="emailsearch" onclick="mySubmit()">
	</div>
	<div class ="form-group">
		<label for="invitation">Invitation List</label>
		<ul class="" id="list">
		</ul>
	</div>
	<button type="submit" class="btn btn-default">submit</button>
</form>
</div>
