<script type="text/javascript">
  function mySubmit() {

    var e=document.getElementsByName("email")[0].value;

    var userlist=[];
    var current_userlist=[];

    <% @users.each do |u|%>
        userlist.push('<%=u.email%>');
    <% end %>

    <% @current_user.each do |u|%>
        current_userlist.push('<%=u.email%>');
    <% end %>

    if( userlist.indexOf(e)==-1 ){
        alert('there is no user who you want!');

    } else if(current_userlist[0]==e){
	alert('that is you!')
    } else{
	var temp = []
	var $test = $('#list').find('.test')
		for(var i=0; i<$test.length; i++){
		    temp.push($test[i].value);
		}
		if(temp.indexOf(e)!=-1){
		    alert('that user is already in invitation list!');

		} else{
		    $('#list').append('<li>'+'<input type="textbox" class="test" name="invitation[]" value ='+e+' readonly >'+'</li>');
	}
    }
  }
</script>

<div class="container" style="margin-top:50px; width: 50%">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3>새 그룹 만들기</h3>
    </div>

    <div class="panel-body">

      <form action="/home/groupadd" method="post">
        <div class ="form-group">
          <label for="groupname">그룹 이름</label>
          <input type="text" class="form-control" name="groupname">
        </div>
        <div class ="form-group">
          <label for="email">초대할 사람 </label>
          <div class="input-group">
            <input type="text" class="form-control" name="email" placeholder="example@email.com">
            <span class="input-group-btn">
              <input type="button" class="btn btn-default" value="email로 검색" onclick="mySubmit()">
            </span>
          </div>
        </div>
        <div class ="form-group">
          <label for="invitation">초대된 사람 목록</label>
          <ul class="" id="list">
          </ul>
        </div>
        <button type="submit" class="btn btn-default">그룹 생성</button>
      </form>

    </div>
  </div>
</div>
